[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
invoke = "*"
nose = "*"
requests = "*"
flake8 = "*"
Flask = "*"

[requires]
python_version = "3.8"
